@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	text-decoration: none;

	user-select: none;

	color: var(--text-color);
}

:root {
	/* --background: #222831; */
	--background: #172F4D;
	--block-color: #4381C1;
	--shadow: #DB3A34;
	--text-color: #EEF4ED;
}

body {
	background: var(--background);
	font-family: "Krona One", sans-serif;
}
main {
	display: flex;
	justify-content: space-between;
}
.left {
	width: 66%;
	
	display: flex;
	flex-wrap: wrap;
}
.right {
	width: 34%;
	
	display: flex;
	justify-content: center;

}

.links-sphere {
	width: 33%;

	display: flex;
	flex-direction: column;

	margin-bottom: 64px;
}

.sphere-title {
	padding: 12px;
	margin: 8px auto;

	background-color: var(--block-color);
	box-shadow: 2px 2px 4px var(--shadow);
	font-size: 16px;
	text-align: center;

	width: 196px;
}
.sphere-links {
	display: flex;
	flex-wrap: wrap;

	padding: 16px;
}

.link {

	background-color: var(--block-color);
	box-shadow: 2px 2px 4px var(--shadow);
	font-size: 14px;

	margin: 8px 4px;
	padding: 12px 16px;

	transition: 200ms;
}
.link:hover {
	transform: rotate(5deg);

	transition: 200ms;
}


.image {
	position: absolute;
	bottom: 0;
	right: 0;
}


.time {
	font-size: 72px;
	padding: 64px;
}