@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	text-decoration: none;

	user-select: none;

	color: #fac9c3;
}

:root {
	/* --background: #222831; */
	--background: url("./img/background2.jpg");

	font-family: "Orbitron", sans-serif;
}

body {
	background: var(--background) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	
	color: #fac9c3;
	text-shadow: 3px 3px 4px #d34a37, -3px -3px 4px #d34a37;
}

header {

	font-size: 60px;

}

.time {
	margin: 20px;
	height-max: 120px;
	padding: 8px;

	text-align: center;
	
	backdrop-filter: blur(50px);
	
	border: 2px solid #fac9c3;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #d34a37, -3px -3px 5px #d34a37;
}


.navigation {
	font-size: 20px;

	margin: 20px;

	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;

	width: 30%;

}

.row {
	margin-bottom: 32px;
}

.title {
	font-size: 30px;
	backdrop-filter: blur(8px);
	box-shadow: inset 3px 3px 10px #d34a37;
	border: 2px solid #fac9c3;
	text-align: center;

	padding: 8px;
	margin-bottom: 16px;
}
.links {
	backdrop-filter: blur(2px);

	display: flex;
	flex-wrap: wrap;

	height: 144px;

}
.link {
	box-shadow: inset 2px 2px 8px #d34a37;
	border: 2px solid #fac9c3;
	
	margin: 4px;
	padding: 8px;

	height: 48px;

	display: flex;
	align-items: center;

	transition: 200ms;
}
.link:hover {
	box-shadow: inset 2px 2px 8px #ca331f;
	border: 2px solid #fac9c3;

	color: #df8073;

	margin: 4px;
	padding: 8px 16px;


	transition: 200ms;
}