@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	text-decoration: none;

	user-select: none;
	text-decoration: none;
}

:root {
	background: #04080F;

	font-family: "Quantico", sans-serif;


}

body {
	color: #621d23;
}

header {
	height: 80px;
	background: #0D5D56;
	color: #FDE8E9;
	font-size: 36px;

	padding: 4px;

	display: flex;
	align-items: center;
}

.time {
	margin-left: 16px;
}

main {
	display: flex;
	flex-direction: column;
}
main section {
	margin-bottom: 16px;
}

h2 {
	display: block;
	color: #FDE8E9;
	background: #0D5D56;
	padding-left: 16px;
	text-align: center;
}

.flex-container {

	margin: 4px 8px;
	display: flex;
	flex-wrap: wrap;
	
}

a {	
	text-align: center;
	background: #FDE8E9;
	color: #621d23;
	text-shadow: 1px 1px 2px #aeaeae;
	padding: 16px;
	margin: 4px;

	width: 15vw;

	transition: 0.2s;
}
a:hover {
	transition: 0.2s;
	color: #AD343E;
}

.most-used .flex-container a {
	font-size: 24px;
	padding: 16px 20px;
	width: 24vw;
}